@media (max-width: 1364px) {
}

@media (max-width: 1164px) {
}

@media (max-width: 1132px) {
  .header {
    &__nav {
      gap: 50px;
    }

    &__contacts {
      font-size: 22px;

      padding: 7px 37px;
    }
  }
}
